body {
  background-color: #FCB0B3;
}

h1{
  text-align: center;
  font-size: 50px;
}


ol .work {
  font-weight: bold;
  top: 50px;
}

li, ol {
  text-align: center;
  display: block;
  padding:20px;
  font-size: 40px;

}
 a {
  border-right: 1px solid(255, 0, 0)
  padding:20 20px;
  color: #000;
  text-decoration:none;
}
