body {
  background-color: #FCB0B3;
}

h1{
  text-align: center;
  font-size: 50px;
}


.work ul {
  font-weight: bold;
  top: 50px;
}

.work li {
  text-align: center;
  list-style: number;
  display: block;
  padding:20px;
  font-size: 40px;

}
 a{
  border-right: 1px solid(255, 0, 0)
  padding:20 20px;
  color: #000;
  
}
