$grey: #444;
$rose: #FF7878;
$white: #fff;
$light-blue: #12A3E6;
$purple: #6B435A;
$skyblue: #6bc8f3;
$dark-pink: #a56f8e;

$breakTablet: 760px;
$breakDesktop: 1000px;

@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin transition() {
  transition: all 0.2s ease;
}


@mixin textshadow {
  color: $purple;
  font-size: 1.4rem;
  text-shadow: 1px 0 0 $rose, -1px 0 0 $rose, 0 1px 0 $rose, 0 -1px 0 $rose;
}

@mixin rotation {
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}





html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
}

.wrapper {
    background: -webkit-linear-gradient(top, lighten($grey, 15%), $grey 100%);
    background: linear-gradient(to bottom,  lighten($grey, 15%), $grey 100%);
    font-family: 'Lilita One', sans-serif;

  &:after {
  @include clearfix();
  }
}

.container {
    padding: 20px 0;
}

.suit-image {
    @include transition;
    display: block;
    margin: 0 auto 20px;
}

.suit-name {
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    color: $rose;
    letter-spacing: 0.15rem;
    @include transition;
    text-shadow: 2px 0 0 $purple, -2px 0 0 $purple, 0 2px 0 $purple, 0 -2px 0 $purple;

    &:before,
    &:after {
    content: '⭐️';
    font-size: 0.8rem;
    padding: 0 2px;
    text-shadow: none;
    opacity: 0;
    @include transition;
  }
}


.card {
    position: relative;
    display: block;
    margin: 0 auto 20px;
    width: 260px;
    height: 364px;
    padding: 20px;
    border-radius: 10px;
    background: $white;
    @include transition;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8), inset 0 0 6px $light-blue;
}

.card:hover {
  @include rotation;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.8), inset 0 0 6px $light-blue;

    .suit-image {
    @include rotation;
}

    .suit-name {
    color: $light-blue;

      &:before,
      &:after {
    opacity: 1;
    font-size: 1rem;
    padding: 0 6px;
    }
  }
}

.card-value-top {
    @include textshadow;
    margin-bottom: 30px;
}

.card-value-bottom {
    @include textshadow;
    -ms-transform: rotateX(180deg) rotateY(180deg);
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
    position: absolute;
    bottom: 20px;
    right: 20px;
}

@media (min-width: $breakTablet) {
    .wrapper {
        background: -webkit-linear-gradient(top, $skyblue 0%, darken($skyblue, 15%) 100%);
        background: linear-gradient(to bottom, $skyblue 0%, darken($skyblue, 15%) 100%);
    }

    .container {
        width: $breakTablet;
        margin: 0 auto;
    }

    .cards {
        width: 600px;
        margin: 20px auto 0;
    }

    .card {
        float: left;
        margin: 0 20px 40px;
    }
}

@media (min-width: $breakDesktop) {
    .wrapper {
        background: -webkit-linear-gradient(top, $dark-pink 0%, darken($dark-pink, 30%)100%);
        background: linear-gradient(to bottom, $dark-pink 0%, darken($dark-pink, 30%)100%);
    }

    .container {
        width: $breakDesktop;
    }

    .cards {
        width: 900px;
    }
}
